<div class="p-4 mb-3 border rounded-3 bg-light">
    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
    <div class="form-group row">
        {{ form_row(form.fileName, {"label": "Nom de fichier"}) }}
    </div>
    <div class="form-group row">
            {{ form_row(form.headerTitle, {"label": "Titre de l'entête", "attr": { "class": "form-control"}}) }}
    </div>
    <div class="form-group row">
            {{ form_row(form.headerSkills, {"label": "Technologies de l'entête"}) }}
    </div>
    <div class="form-group row">
            {{ form_row(form.logo, {"label": "logo"}) }}
    </div>
    <div class="mb-10 row">
        <div class="form-outline col-sm-8 mb-3">
            {{ form_row(form.color, {"label": "couleur"}) }}
        </div>
    </div>
    <div class="mb-10 row">
        <div class="form-outline col-sm-8 mb-3">
            {{
                form_row(form.nameSociety, {
                    "label": "nom de la société",
                    'attr': {'data-field':path('ajax_skill_choice',{'field':'nameSociety'})}
                })
            }}
        </div>
    </div>
    <div class="mb-10 row">
        <div class="form-outline col-sm-8 mb-3">
            {{
                form_row(form.commercialInformation, {
                "label": "information du commercial",
                'attr': {'data-field':path('ajax_skill_choice',{'field':'commercialInformation'})}
                })
            }}
        </div>
    </div>
    <div class="mb-10 row">
        <div class="form-outline col-sm-8 mb-3">
            {{
                form_row(form.websiteSociety, {
                    "label": "site internet",
                    'attr': {'data-field':path('ajax_skill_choice',{'field':'websiteSociety'})}
                })
            }}
        </div>
    </div>
    <div class="form-group row">
        <fieldset>
            <legend>Thèmes</legend>
            <ul class="theme d-lg-block"
                data-index="{{ form.theme|length > 0 ? form.theme|last.vars.name + 1 : 0 }}"
                data-prototype="{{ form_widget(form.theme.vars.prototype)|e('html_attr') }}">
            </ul>
            <button type="button" class="add_item_link" data-collection-holder-class="theme">Ajouter un thème</button>

        </fieldset>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.export, {"label": "Exporter", "attr": { "class": "btn btn-primary mb-3"}}) }}
        </div>
        <div class="col">
            {{ form_row(form.save, {"label": "Enregistrer", "attr": { "class": "btn btn-success mb-3"}}) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>




